.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 4px;
}

.contact-form-label {
  margin-bottom: 4px;
}

.contact-form-input {
  margin-bottom: 4px;
}

.error-text {
  font-size: 12px;
  color: red;
}

.contact-form button {
  margin: 16px auto;
}
